<%= render "shared/second-header" %>

<div class="user__wrapper">
  <h2 class="page-heading">
    <%= "#{@user.nickname}のマイページ"%>
  </h2>
  <table class="table">
    <tbody>
      <tr>
        <th class="table__col1">アイコン</th>
        <td class="table__col2"><%= image_tag @user_icon, class:"my_icon" %></td>
      </tr>
      <tr>
        <th class="table__col1">ニックネーム</th>
        <td class="table__col2"><%= @user.nickname %></td>
      </tr>
      <tr>
        <th class="table__col1">メインエリア</th>
        <td class="table__col2"><%= "エリア" %></td>
      </tr>
      <tr>
        <th class="table__col1">ツーリングスタイル</th>
        <td class="table__col2"><%= "スタイル" %></td>
      </tr>
      <tr>
        <th class="table__col1">所有車</th>
        <td class="table__col2"><%= "所有車" %></td>
      </tr>
    </tbody>
  </table>

  <div class="user-contents">
    <h2 class="page-heading">
      <%= "#{@user.nickname}の開催"%>
    </h2>
    <div class="posts">
      <div class="user__card">
        <%= render partial: 'tourings/touring', collection: @tourings %>
      </div>
      <% if @tourings.blank? %>
        <p class = "info">開催プランはありません</p>
      <% end %>
    </div>
    <h2 class="page-heading">お気に入りのプラン</h2>
    <div class="my_liked">
      <% @user.liked_tourings.each do |touring| %>
        ・<%= touring.plan %>
        <%= link_to "by #{touring.user.nickname}", user_path(touring.user.id), class: :card__user %>
      <% end %>
      <%if @user.liked_tourings.blank? %>
        <p class = "info">登録されていません</p>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
