<%= render "shared/header" %>

<div class="contents">
  <div class="first-view">
  
  </div>

  <% if user_signed_in? %>
    <div class = login_rider>
      <%= image_tag("rider.png", class: :rider_logo) %>
      <%= link_to (current_user.nickname), user_path(current_user.id), class: :login_user %>
    </div>
  <% end %>
  
  <div class="ride-contents">
    <h2 class="heading-name">ツーリングプラン一覧</h2>
    <div class="top-posts">
      <%= render partial: 'touring', collection: @tourings %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
