<%= render "shared/header" %>

<div class="inner">
  <div class="ride__wrapper">
    <p class="ride__hedding">
      <%= @touring.plan %>
    </p>

    
    <div class="ride__body">
      <div class="ride__detail">
        <p class="detail__title">内容</p>
        <p class="detail__message">
          <%= @touring.text %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">排気量</p>
        <p class="detail__message">
          <%= @touring.displacement.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">ツーリングスタイル</p>
        <p class="detail__messages">
          <%= @touring.style.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">期間</p>
        <p class="detail__messages">
          <%= @touring.term.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">エリア</p>
        <p class="detail__messages">
          <%= @touring.area.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">開催日</p>
        <p class="detail__messages">
          <%= @touring.day %>
        </p>
      </div>
      <%= link_to "by #{@touring.user.nickname}", user_path(@touring.user.id), class: :ride__user %>
    </div>


<%# 以下、未実装部分
投稿機能と参加機能をまとめてtouringコントローラーで扱う場合、投稿者と参加者が同じ扱いになってしまう。編集、削除、参加の機能の場合分けができない。また、参加ボタンを押した時のリンク先の設定方法もわからない。 %>




    <% if user_signed_in? %>
      <% if current_user.id == @touring.user_id  %>
        <div class= "ride__manage">
          <%= link_to "編集する", edit_touring_path(@touring.id), method: :get, class: "ride__btn" %>
          <%= link_to "削除する", touring_path(@touring.id) , method: :delete, class:"ride__btn" %>
        </div>
      <% else %>
        <div class="ride__manage">
          <%= link_to "参加する", ride_tourings_path(@ride.id),class:"participate__btn"%>
        </div>
      <% end %>
    <% end %>


    <div class="participate__members">
      <p class="any__members"> 参加予定メンバー </p>
    </div>
  </div>
</div>

<%= render "shared/footer" %>