<%= render "shared/header" %>

<div class="inner">
  <div class="ride__wrapper">
    <p class="ride__hedding">
      <%= @touring.plan %>
    </p>

    
    <div class="ride__body">
      <div class="ride__detail">
        <p class="detail__title">内容</p>
        <p class="detail__message">
          <%= @touring.text %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">排気量</p>
        <p class="detail__message">
          <%= @touring.displacement.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">ツーリングスタイル</p>
        <p class="detail__messages">
          <%= @touring.style.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">期間</p>
        <p class="detail__messages">
          <%= @touring.term.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">エリア</p>
        <p class="detail__messages">
          <%= @touring.area.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">開催日</p>
        <p class="detail__messages">
          <%= @touring.day %>
        </p>
      </div>
      <%= link_to "by #{@touring.user.nickname}", user_path(@touring.user.id), class: :ride__user %>

      <p class="like__count">いいね件数: <%= @touring.likes.count %></p>
      <% if current_user.already_liked?(@touring) %>
        <%= button_to 'いいね取り消し', touring_like_path(@touring), method: :delete %>
      <% else %>
        <%= button_to 'いいね', touring_likes_path(@touring) %>
      <% end %>
      <p class="liked__user">いいね済みユーザー</p>
      <% @touring.liked_users.each do |user| %>
        <li><%= user.nickname %></li>
      <% end %>
    </div>


<%# 以下、未実装部分※参加機能を実装しようとして行き詰まった部分
投稿機能と参加機能をまとめてtouringコントローラーで扱う場合、投稿者と参加者が同じ扱いになってしまう。編集、削除、参加の機能の場合分けができない。また、参加ボタンを押した時のリンク先の設定方法もわからない。 %>




    <% if user_signed_in? %>
      <% if current_user.id == @touring.user_id  %>
        <div class= "ride__manage">
          <%= link_to "編集する", edit_touring_path(@touring.id), method: :get, class: "ride__btn" %>
          <%= link_to "削除する", touring_path(@touring.id) , method: :delete, class:"ride__btn" %>
        </div>
      <% else %>
        <div class="ride__manage">
          <%= link_to "参加する", root_path,class:"participate__btn"%>
        </div>
      <% end %>
    <% end %>


    <div class="participate__members">
      <p class="any__members"> 参加予定メンバー </p>
    </div>
  </div>
</div>

<%= render "shared/footer" %>