<%= render "shared/header" %>

<div class="inner">
  <div class="ride__wrapper">
    <p class="ride__hedding">
      <%= @ride.plan %>
    </p>

    
    <div class="ride__body">
      <div class="ride__detail">
        <p class="detail__title">内容</p>
        <p class="detail__message">
          <%= @ride.text %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">排気量</p>
        <p class="detail__message">
          <%= @ride.displacement.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">ツーリングスタイル</p>
        <p class="detail__messages">
          <%= @ride.style.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">期間</p>
        <p class="detail__messages">
          <%= @ride.term.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">エリア</p>
        <p class="detail__messages">
          <%= @ride.area.name %>
        </p>
      </div>
      <div class="ride__detail">
        <p class="detail__title">開催日</p>
        <p class="detail__messages">
          <%= @ride.day %>
        </p>
      </div>
      <%= link_to "by #{@ride.user.nickname}", user_path(@ride.user.id), class: :ride__user %>
    </div>


    <% if user_signed_in? %>
      <% if current_user.id == @ride.user_id  %>
        <div class= "ride__manage">
          <%= link_to "編集する", edit_ride_path(@ride.id), method: :get, class: "ride__btn" %>
          <%= link_to "削除する", ride_path(@ride.id) , method: :delete, class:"ride__btn" %>
        </div>
      <% else %>
        <div class="ride__manage">
          <%= link_to "参加する", ride_tourings_path(@ride.id),class:"participate__btn"%>
        </div>
      <% end %>
    <% end %>


    <div class="participate__members">
      <p class="any__members"> 参加予定メンバー </p>
    </div>
  </div>
</div>

<%= render "shared/footer" %>